@model ComicBookGallery.Models.ComicBook[]

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HEY NERDS</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
        <h4>@comicBook.DisplayText</h4>
        <img src="/Images/@comicBook.CoverImageFileName" 
            alt="@comicBook.DisplayText" 
            class="img-responsive" />
        </div>
    }
    
</div>
